.header{
  display: block;
  width: 100%;
  text-align: center;
}

.header h1, h2, p {
  color: white;
  text-align: center;
  margin: 0px;
}

.logo{
  padding: 2rem;
  width: 100%;
  font-family: "GTEAPAC", sans-serif;
}
