
body {
  font-family: "Raleway", sans-serif;
  background: rgb(0,0,0);
}

@font-face {
  font-family: 'GTEAPAC';
  src: url('../brand/GTEAPAC.otf');
}

@font-face {
  font-family: 'ShareTech';
  src: url('../fonts/ShareTech.ttf');
}

@font-face {
  font-family: 'Wellingtons';
  src: url('../brand/Wellingtons.otf');
}

.white {
  color: #C6C6C6;
}

.black {
  color: #000000;
}

h1 {
  font-family: "Wellingtons", sans-serif;
  text-transform: uppercase;
  font-size: calc(2em + 4vw);
  letter-spacing: 1rem;
  width:100%;
  color: white;
  text-align: left;
  display: block;
  line-height: auto;
}

h2 {
  font-family: "Wellingtons", sans-serif;
  font-size: calc(1em + 2vw);
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: white;
  line-height: auto;
  text-align: left;
}

h3{
  font-family: "Wellingtons", sans-serif;
  color: white;
  font-size: calc(1em + 1vw);
  text-align: left;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: left;
}

h4,
h5,
p {
  font-family: "Wellingtons", sans-serif;
  color: white;
  text-align: left;
  font-size: calc(10px + 2vmin);
  line-height: auto;
  overflow: hidden;
  padding: 1rem 0;
}

.header h2{
  padding: 5rem;
}

a {
  color: #FFDEAA;
}

ul{
  list-style-type: none;
}

ul > li
{
    list-style-type: none;
}

.display_inline{
  display: inline-block;
}
