
body {
  font-family: "Raleway", sans-serif;
  background: rgb(0,0,0);
}

.white {
  color: #C6C6C6;
}

.black {
  color: #000000;
}

h1 {
  font-family: "antina", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: calc(72px + 5vw);
  width:100%;
  color: white;
  text-align: left;
  display: block;
  line-height: auto;
}

h2 {
  font-family: "antina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(10em + 1vw);
  text-transform: uppercase;
  color: white;
  line-height: auto;
  text-align: left;
}

h3{

  font-family: "antina", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: calc(3em + 1vw);
  text-align: left;
  text-transform: uppercase;
  text-align: left;
}

h4,
h5,
p {
  font-family: "owners-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: left;
  font-size: calc(14px + 1vmin);
  line-height: auto;
  overflow: hidden;
  padding: 1rem 0;
}

.header h2{
  padding: 5rem;
}

a {
  color: #ff0054;
}

ul{
  list-style-type: none;
}

ul > li
{
    list-style-type: none;
}

.display_inline{
  display: inline-block;
}
