.bm-burger-button {
  position:fixed;
   width: 32px;
   height: 24px;
   margin: 6rem 1rem;
  }

/* General sidebar styles */
.bm-menu {
  background: #f1f1f1;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1.15em;
}

.bm-overlay {
  background: white;
}

.bm-cross-button {
}

.bm-cross {
  background: black;
}

.menu{
  padding: 4rem 0;
}

.menu-background{
  position: sticky;
  text-align: center;
}

.menu h1{
  color: black;
  padding: 4rem;
}

.menu h2{
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0;
}

.menu-button-list h1{
  text-align: center;
}

.menu_link {
  display: block;
  color: black;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.bm-menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text_link {
    text-decoration: underline black;
}

.text_link:hover {
    text-decoration: underline white;
}

.menu_link:hover {
    color: #ffaa3b;
}

.menu_link:focus {
    color: #ffaa3b;
}
