.about{
  background-color: #000000;
  padding: 5rem 14%;
  background-image: url("../images/backgrounds/bg-3.jpg")
}

.email-button{
  border: none;
  background: none;
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
}

.notfound{
  text-align: center;
}

.carousel{
  text-align: center;
   height: auto;
   padding: 5%;
}

.song{
  padding: 0 10%;
  margin-top: 5%;
  background-color: #000000
}

.song h3{
  text-align: center;
  margin: 10%;
  font-size: 36px;
}

.song-card{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.video{
  background-color: #13091e;
  width : 100%;
}

.link{
  color: white;
  text-transform: uppercase;
}

.music-page{
  background-color: black;
}

.music-page h1{
  color: white;
}

.last-column{
  margin: 0% 0%;
}

.bandcamp{
  text-align: left;
  padding: 2rem;
  border: 0;
  height: 9.0rem;
}

.splash{
  padding: 1rem;
  height: 100vh;
}

.splash h2{
  color: white;
}

.spotify{
    border-radius: 12px;
    border: 0;
    padding: 1rem;
}

.wallpaper{
  padding: 10px 10px;
}

.whitefont h1{
  color: white;
}

.whitefont h3{
  color: white;
}
