.notfound{
  text-align: center;
}

.carousel{
  text-align: center;
   height: auto;
   padding: 5%;
}

.container{
  padding: 0 10%;
}

.elias{
  background-color: #19191a;
}

.everfrost{
  background-color: #33e28e;
}


.inke{
  background-color: #a7301c;
}

.song{
  padding: 0 10%;
  margin-top: 5%;
}

.song h3{
  text-align: center;
  margin: 10%;
  font-size: 36px;
}

.song-card{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.video{
  background-color: #13091e;
  width : 100%;
}

.link{
  color: white;
  text-transform: uppercase;
}

.music-page{
  background-color: black;
}

.music-page h1{
  color: white;
}

.music-row{
  margin-top: 5%;

}
.last-column{
  margin: 0% 0%;
}

.bandcamp{
  padding: 0 10%;
  border: 0;
  height: 5.0rem;
}

.splash{
  padding: 2rem;
}

.wallpaper{
  padding: 10px 10px;
}

.whitefont h1{
  color: white;
}

.whitefont h3{
  color: white;
}
