html, body {
    margin:0px;
    min-height: 100%;
}

body {
  background-image: url("./images/background-dore2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  font-family: "Raleway", sans-serif;
  background-color: #000000;
}

@font-face {
  font-family: 'GTEAPAC';
  src: url('./brand/GTEAPAC.otf');
}

@font-face {
  font-family: 'ShareTech';
  src: url('./fonts/ShareTech.ttf');
}

.white {
  color: #C6C6C6;
}

.black {
  color: #000000;
}

h1 {
  font-family: "GTEAPAC", sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  color: white;
  text-align: left;
  display: block;
  line-height: auto;
}

h2 {
  font-family: "GTEAPAC", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
 line-height: auto;
}

h3{
  font-family: "ShareTech", sans-serif;
  color: white;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

h4,
h5,
p {
  font-family: "Forum", sans-serif;
  color: white;
  font-size: 24px;
  line-height: auto;
  overflow: hidden;
}

.header h2{
  padding: 5rem;
}

.hide {
    display: none;
}

.footer {
background-color: white;
text-align: center;
background-image: url("./brand/mark/mark-black-BG.png");
background-size: 55%;
background-position: center;
background-repeat: no-repeat;
}

.footer p {
color:black;
}

.footer h1 {
color:white;
}

.footer h3 {
color:black;
text-align: center;
padding: 2rem;
}

.contacts{
  display: inline-block;
  margin: 20px;
  text-align: center;

}

.contacts h3{
  text-align: center;
  color: black;
}

ul li{
  list-style: none;
}

.display_inline{
  display: inline-block;
}
